In [132]:
import numpy as np
import pandas as pd

In [1]:
!conda install -c anaconda xlrd --yes

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.3                |           py37_0         3.0 MB  anaconda
    ------------------------------------------------------------
                                           Total:         3.0 MB

The following packages will be UPDATED:

  conda                       pkgs/main::conda-4.8.2-py37_0 --> anaconda::conda-4.8.3-py37_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates                                 pkgs/main --> anaconda
  certifi                                         pkgs/main --> anaconda
  openssl                                         pkgs/main --> anaconda
  xlrd                                            pkgs/main --> anaconda



Downloading and Extracting Packages

conda-4.8.3          | 3.0 MB    |            |   0%
conda-4.8.3          | 3.0 MB    |            |   1%
conda-4.8.3          | 3.0 MB    | 2          |   2%
conda-4.8.3          | 3.0 MB    | 4          |   4%
conda-4.8.3          | 3.0 MB    | 5          |   6%
conda-4.8.3          | 3.0 MB    | 7          |   7%
conda-4.8.3          | 3.0 MB    | 8          |   9%
conda-4.8.3          | 3.0 MB    | #          |  10%
conda-4.8.3          | 3.0 MB    | #1         |  12%
conda-4.8.3          | 3.0 MB    | #2         |  13%
conda-4.8.3          | 3.0 MB    | #4         |  15%
conda-4.8.3          | 3.0 MB    | #7         |  17%
conda-4.8.3          | 3.0 MB    | #9         |  20%
conda-4.8.3          | 3.0 MB    | ##2        |  22%
conda-4.8.3          | 3.0 MB    | ##4        |  24%
conda-4.8.3          | 3.0 MB    | ##6        |  26%
conda-4.8.3          | 3.0 MB    | ##8        |  29%
conda-4.8.3          | 3.0 MB    | ###        |  31%
conda-4.8.3          | 3.0 MB    | ###2       |  32%
conda-4.8.3          | 3.0 MB    | ###3       |  34%
conda-4.8.3          | 3.0 MB    | ###5       |  35%
conda-4.8.3          | 3.0 MB    | ###6       |  37%
conda-4.8.3          | 3.0 MB    | ###8       |  39%
conda-4.8.3          | 3.0 MB    | ####1      |  41%
conda-4.8.3          | 3.0 MB    | ####2      |  43%
conda-4.8.3          | 3.0 MB    | ####6      |  46%
conda-4.8.3          | 3.0 MB    | ####8      |  49%
conda-4.8.3          | 3.0 MB    | #####1     |  52%
conda-4.8.3          | 3.0 MB    | #####4     |  54%
conda-4.8.3          | 3.0 MB    | #####6     |  57%
conda-4.8.3          | 3.0 MB    | #####8     |  59%
conda-4.8.3          | 3.0 MB    | ######1    |  61%
conda-4.8.3          | 3.0 MB    | ######3    |  63%
conda-4.8.3          | 3.0 MB    | ######5    |  65%
conda-4.8.3          | 3.0 MB    | ######6    |  67%
conda-4.8.3          | 3.0 MB    | ######8    |  68%
conda-4.8.3          | 3.0 MB    | #######    |  70%
conda-4.8.3          | 3.0 MB    | #######1   |  72%
conda-4.8.3          | 3.0 MB    | #######3   |  73%
conda-4.8.3          | 3.0 MB    | #######5   |  76%
conda-4.8.3          | 3.0 MB    | #######7   |  77%
conda-4.8.3          | 3.0 MB    | #######8   |  79%
conda-4.8.3          | 3.0 MB    | ########1  |  82%
conda-4.8.3          | 3.0 MB    | ########5  |  86%
conda-4.8.3          | 3.0 MB    | ########8  |  89%
conda-4.8.3          | 3.0 MB    | #########  |  91%
conda-4.8.3          | 3.0 MB    | #########2 |  92%
conda-4.8.3          | 3.0 MB    | #########3 |  94%
conda-4.8.3          | 3.0 MB    | #########5 |  95%
conda-4.8.3          | 3.0 MB    | #########6 |  97%
conda-4.8.3          | 3.0 MB    | #########8 |  99%
conda-4.8.3          | 3.0 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... failed

==> WARNING: A newer version of conda exists. <==
  current version: 4.8.2
  latest version: 4.8.3

Please update conda by running

    $ conda update -n base -c defaults conda



EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: C:\ProgramData\Anaconda3

In [133]:
df = pd.read_excel("C:/Users/Arshad/Documents/Salu/Data_Extract_From_World_Development_Indicators_Region.xlsx",
                   sheet_name ='Data',
                       skipfooter=4)
#skiprows=range(10)-->for skipping first 10 rows, not needed here

In [134]:
df.rename (columns = {'Country Name':'Country', 'Series Name':'Series'}, inplace = True)
df.drop(['Country Code','Series Code'], axis = 1, inplace = True)
df

,Country,Series,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Argentina,"Agriculture, forestry, and fishing, value adde...",..,..,..,..,..,12.9042,10.2788,9.98039,...,7.13217,6.99873,5.78174,6.05292,6.7127,5.15669,6.26457,5.47838,6.09713,..
1,Argentina,Births attended by skilled health staff (% of ...,..,..,..,..,..,..,..,..,...,94.97,97.14,98.2,97.04,99.6,99.6,..,..,..,..
2,Argentina,Broad money (% of GDP),21.1393,16.606,14.3101,16.0176,15.9679,15.1289,15.9504,18.4267,...,25.3131,24.3288,27.0947,27.1269,25.7525,27.6408,28.3139,28.4702,..,..
3,Australia,Broad money (% of GDP),44.6154,44.1822,47.1067,48.1264,48.6027,46.8293,47.9974,46.9343,...,100.699,99.8652,101.281,105.521,108.546,113.195,118.116,116.253,113.463,..
4,Brazil,Broad money (% of GDP),24.6287,24.7829,21.4859,20.6233,18.3533,20.4305,17.0375,19.0619,...,74.2194,76.8253,79.0529,78.6265,81.9066,88.0696,93.8211,93.0901,95.2769,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16364,Sub-Saharan Africa (excluding high income),Trade in services (% of GDP),..,..,..,..,..,..,..,..,...,11.2088,11.5089,10.9297,10.3443,10.2822,10.2736,9.81949,10.0194,11.3389,..
16365,Sub-Saharan Africa (IDA & IBRD countries),Trade in services (% of GDP),..,..,..,..,..,..,..,..,...,11.254,11.5496,10.9891,10.413,10.3491,10.3472,9.90318,10.1052,11.4477,..
16366,Upper middle income,Trade in services (% of GDP),..,..,..,..,..,..,..,..,...,6.73322,7.27467,7.25673,7.47236,7.83216,7.92024,7.86487,7.7428,7.84661,..
16367,World,Trade in services (% of GDP),..,..,..,..,..,..,..,..,...,11.4932,11.8015,11.906,12.2965,12.8298,12.9948,12.9091,13.1802,13.4306,..
16368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
df2 = pd.melt(df, id_vars=['Country','Series'],var_name='Year', value_name='value')
df2

,Country,Series,Year,value
0,Argentina,"Agriculture, forestry, and fishing, value adde...",1960 [YR1960],..
1,Argentina,Births attended by skilled health staff (% of ...,1960 [YR1960],..
2,Argentina,Broad money (% of GDP),1960 [YR1960],21.1393
3,Australia,Broad money (% of GDP),1960 [YR1960],44.6154
4,Brazil,Broad money (% of GDP),1960 [YR1960],24.6287
...,...,...,...,...
982135,Sub-Saharan Africa (excluding high income),Trade in services (% of GDP),2019 [YR2019],..
982136,Sub-Saharan Africa (IDA & IBRD countries),Trade in services (% of GDP),2019 [YR2019],..
982137,Upper middle income,Trade in services (% of GDP),2019 [YR2019],..
982138,World,Trade in services (% of GDP),2019 [YR2019],..
982139,NaN,NaN,2019 [YR2019],NaN

In [138]:
df2['Year']=df2['Year'].astype(str)
df2_split = df2["Year"].str.split(" ", n = 1, expand = True) 
df2['Year1']=df2_split[0]
df2['Year2']=df2_split[1]
df2.drop(columns =["Year"], inplace = True)
df2.drop(columns =["Year2"], inplace = True)
df2.rename({'Year1': 'Year'}, axis=1, inplace=True)
df2

,Country,Series,value,Year
0,Argentina,"Agriculture, forestry, and fishing, value adde...",..,1960
1,Argentina,Births attended by skilled health staff (% of ...,..,1960
2,Argentina,Broad money (% of GDP),21.1393,1960
3,Australia,Broad money (% of GDP),44.6154,1960
4,Brazil,Broad money (% of GDP),24.6287,1960
...,...,...,...,...
982135,Sub-Saharan Africa (excluding high income),Trade in services (% of GDP),..,2019
982136,Sub-Saharan Africa (IDA & IBRD countries),Trade in services (% of GDP),..,2019
982137,Upper middle income,Trade in services (% of GDP),..,2019
982138,World,Trade in services (% of GDP),..,2019
982139,NaN,NaN,NaN,2019

In [139]:
df3 = df2.pivot_table(index = ['Country','Year'], values = 'value',columns = 'Series', aggfunc='sum')
df3.to_csv (r'C:/Users/Arshad/Documents/Salu/df_years_series_final4.csv')
df3

Series           Agriculture, forestry, and fishing, value added (% of GDP)  \
Country     Year
Afghanistan 1960                                                 ..
            1961                                                 ..
            1962                                                 ..
            1963                                                 ..
            1964                                                 ..
...                                                             ...
Zimbabwe    2015                                            8.28425
            2016                                            7.87399
            2017                                            9.66343
            2018                                            12.0819
            2019                                                 ..

Series           Births attended by skilled health staff (% of total)  \
Country     Year
Afghanistan 1960                                                 ..
            1961                                                 ..
            1962                                                 ..
            1963                                                 ..
            1964                                                 ..
...                                                             ...
Zimbabwe    2015                                               78.1
            2016                                                 ..
            2017                                                 ..
            2018                                                 ..
            2019                                                 ..

Series           Broad money (% of GDP) Broad money (current LCU)  \
Country     Year
Afghanistan 1960                13.4504                3255000000
            1961                14.5344                3590000000
            1962                17.1951                4230000000
            1963                14.4645                4889000000
            1964                16.6889                6008000000
...                                 ...                       ...
Zimbabwe    2015                23.7244               4.73614e+09
            2016                27.4387               5.63828e+09
            2017                34.2668               7.81728e+09
            2018                32.2895               1.00099e+10
            2019                     ..               3.50182e+10

Series           Broad money growth (annual %)  \
Country     Year
Afghanistan 1960                            ..
            1961                       10.2919
            1962                       17.8273
            1963                       15.5792
            1964                       22.8881
...                                        ...
Zimbabwe    2015                       8.20189
            2016                        19.048
            2017                       38.6465
            2018                       28.0485
            2019                       249.835

Series           Broad money to total reserves ratio  \
Country     Year
Afghanistan 1960                             1.42695
            1961                             1.87958
            1962                             2.31572
            1963                             2.38528
            1964                              2.9922
...                                              ...
Zimbabwe    2015                              10.898
            2016                             13.8467
            2017                             26.7147
            2018                             115.121
            2019                                  ..

Series           Central government debt, total (% of GDP)  \
Country     Year
Afghanistan 1960                                        ..
            1961                                        ..
            1962                                        ..
            1963                                        ..
            1964                                        ..
...                                                    ...
Zimbabwe    2015                                        ..
            2016                                        ..
            2017                                        ..
            2018                                        ..
            2019                                        ..

Series           Central government debt, total (current LCU)  \
Country     Year
Afghanistan 1960                                           ..
            1961                                           ..
            1962                                           ..
            1963                                           ..
            1964                                           ..
...                                                       ...
Zimbabwe    2015                                           ..
            2016                                           ..
            2017                                           ..
            2018                                           ..
            2019                                           ..

Series           Contraceptive prevalence, any methods (% of women ages 15-49)  \
Country     Year
Afghanistan 1960                                                 ..
            1961                                                 ..
            1962                                                 ..
            1963                                                 ..
            1964                                                 ..
...                                                             ...
Zimbabwe    2015                                               66.8
            2016                                                 ..
            2017                                                 ..
            2018                                                 ..
            2019                                                 ..

Series           Exports of goods and services (% of GDP)  ...  \
Country     Year                                           ...
Afghanistan 1960                                  4.13223  ...
            1961                                  4.45344  ...
            1962                                  4.87805  ...
            1963                                   9.1716  ...
            1964                                  8.88889  ...
...                                                   ...  ...
Zimbabwe    2015                                  19.1602  ...
            2016                                  19.9435  ...
            2017                                  18.9935  ...
            2018                                  22.9241  ...
            2019                                       ..  ...

Series           School enrollment, secondary (% gross)  \
Country     Year
Afghanistan 1960                                     ..
            1961                                     ..
            1962                                     ..
            1963                                     ..
            1964                                     ..
...                                                 ...
Zimbabwe    2015                                     ..
            2016                                     ..
            2017                                     ..
            2018                                     ..
            2019                                     ..

Series           Statistical Capacity score (Overall average)  \
Country     Year
Afghanistan 1960                                           ..
            1961                                           ..
            1962                                           ..
            1963                                           ..
            1964                                           ..
...                                                       ...
Zimbabwe    2015                                      62.2222
            2016                                      55.5555
            2017                                           60
            2018                                           60
            2019                                      56.6666

Series           Surface area (sq. km) Tax revenue (% of GDP)  \
Country     Year
Afghanistan 1960                    ..                     ..
            1961                652860                     ..
            1962                652860                     ..
            1963                652860                     ..
            1964                652860                     ..
...                                ...                    ...
Zimbabwe    2015                390760                17.6734
            2016                390760                15.4583
            2017                390760                15.3371
            2018                390760                16.2012
            2019                    ..                     ..

Series           Terrestrial and marine protected areas (% of total territorial area)  \
Country     Year
Afghanistan 1960                                                 ..
            1961                                                 ..
            1962                                                 ..
            1963                                                 ..
            1964                                                 ..
...                                                             ...
Zimbabwe    2015                                                 ..
            2016                                            27.2145
            2017                                            27.2146
            2018                                            27.2146
            2019                                                 ..

Series           Time required to start a business (days)  \
Country     Year
Afghanistan 1960                                       ..
            1961                                       ..
            1962                                       ..
            1963                                       ..
            1964                                       ..
...                                                   ...
Zimbabwe    2015                                       91
            2016                                       91
            2017                                       61
            2018                                       32
            2019                                       27

Series           Total debt service (% of exports of goods, services and primary income)  \
Country     Year
Afghanistan 1960                                                 ..
            1961                                                 ..
            1962                                                 ..
            1963                                                 ..
            1964                                                 ..
...                                                             ...
Zimbabwe    2015                                            15.7632
            2016                                            28.8337
            2017                                            14.2868
            2018                                            11.7075
            2019                                                 ..

Series           Trade (% of GDP) Trade in services (% of GDP)  \
Country     Year
Afghanistan 1960           11.157                           ..
            1961          12.5506                           ..
            1962          14.2276                           ..
            1963          26.0355                           ..
            1964          26.9444                           ..
...                           ...                          ...
Zimbabwe    2015          56.7488                      9.56989
            2016           51.219                      8.08097
            2017          48.3365                       6.6265
            2018          48.4366                           ..
            2019               ..                           ..

Series           Urban population growth (annual %)
Country     Year
Afghanistan 1960                            5.15694
            1961                            5.21164
            1962                            5.27286
            1963                            5.31758
            1964                            5.37757
...                                             ...
Zimbabwe    2015                            1.29704
            2016                            1.27456
            2017                            1.27719
            2018                            1.32389
            2019                                 ..

[15840 rows x 62 columns]